{% load static %}
<header id="topnav" class="defaultscroll sticky">
  <div class="container">
    <!-- Logo container-->
    <a class="logo" href="index.html">
      <img
        src="{% static 'assets/images/logo.png' %}"
        height="24"
        class="logo-light-mode"
        alt=""
      />
      EchoBay
    </a>
    <!-- End Logo container-->

    <div class="menu-extras">
      <div class="menu-item">
        <!-- Mobile menu toggle-->
        <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- End mobile menu toggle-->
      </div>
    </div>

    <ul class="buy-button list-inline mb-0">
      <li class="list-inline-item mb-0">
        <div class="dropdown">
          <a
            class="btn btn-icon btn-pills btn-primary dropdown-toggle"
            href="{% url 'cart' %}"
            ><i data-feather="shopping-cart" class="icons"></i
          ></a>
        </div>
      </li>
      <li class="list-inline-item mb-0">
        <div class="dropdown dropdown-primary">
          <button
            type="button"
            class="btn btn-icon btn-pills btn-primary dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i data-feather="user" class="icons"></i>
          </button>
          <div
            class="dropdown-menu dd-menu dropdown-menu-end bg-white shadow rounded border-0 mt-3 py-3"
            style="width: 200px"
          >
            <a class="dropdown-item text-dark" href="#"
              ><i class="uil uil-user align-middle me-1"></i> Account</a
            >
            <a class="dropdown-item text-dark" href="#"
              ><i class="uil uil-clipboard-notes align-middle me-1"></i> Order
              History</a
            >
            <a class="dropdown-item text-dark" href="#"
              ><i class="uil uil-arrow-circle-down align-middle me-1"></i>
              Download</a
            >
            <div class="dropdown-divider my-3 border-top"></div>
            <a class="dropdown-item text-dark" href="{% url 'logout' %}"
              ><i class="uil uil-sign-out-alt align-middle me-1"></i> Logout</a
            >
          </div>
        </div>
      </li>
    </ul>
    <!--end login button-->

    <div id="navigation">
      <!-- Navigation Menu-->
      <ul class="navigation-menu">
        <li><a href="/" class="sub-menu-item">Home</a></li>
        <li>
          <a href="{% url 'product-list' %}" class="sub-menu-item">Product</a>
        </li>
        <li>
          <a href="index-shop.html" class="sub-menu-item">Categories</a>
        </li>
      </ul>

      <!--end navigation menu-->
    </div>
    <!--end navigation-->
  </div>
  <!--end container-->
</header>
