{% extends 'index.html' %} 

{% block content %}
<section class="home-slider position-relative">
  {% load static %}
  <div
    id="carouselExampleInterval"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <div
          class="bg-home slider-rtl-2 d-flex align-items-center"
          style="
            background: url('{% static 'assets/images/shop/bg2.jpg' %}') center
              center;
          "
        >
          <div class="bg-overlay bg-overlay-white opacity-5"></div>
          <div class="container">
            <div class="row align-items-center mt-5">
              <div class="col-lg-7 col-md-7">
                <div class="title-heading mt-4">
                  <h1 class="display-4 fw-bold mb-3 text-black">
                    New Accessories <br />
                    Collections
                  </h1>
                  <p class="para-desc text-black">
                    Launch your campaign and benefit from our expertise on
                    designing and managing conversion centered bootstrap v5 html
                    page.
                  </p>
                  <div class="mt-4">
                    <a href="javascript:void(0)" class="btn btn-soft-primary"
                      >Shop Now</a
                    >
                  </div>
                </div>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end container-->
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <div
          class="bg-home slider-rtl-1 d-flex align-items-center"
          style="
            background: url('{% static 'assets/images/shop/bg1.jpg' %}') center
              center;
          "
        >
          <div class="bg-overlay bg-overlay-white opacity-5"></div>
          <div class="container">
            <div class="row align-items-center mt-5">
              <div class="col-lg-7 col-md-7">
                <div class="title-heading mt-4">
                  <h1 class="display-4 fw-bold mb-3 text-black">
                    Headphones <br />
                    Speaker
                  </h1>
                  <p class="para-desc text-black">
                    Launch your campaign and benefit from our expertise on
                    designing and managing conversion centered bootstrap v5 html
                    page.
                  </p>
                  <div class="mt-4">
                    <a href="javascript:void(0)" class="btn btn-soft-primary"
                      >Shop Now</a
                    >
                  </div>
                </div>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end container-->
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <div
          class="bg-home slider-rtl-3 d-flex align-items-center"
          style="
            background: url('{% static 'assets/images/shop/bg3.jpg' %}') center
              center;
          "
        >
          <div class="bg-overlay bg-overlay-white opacity-5"></div>
          <div class="container">
            <div class="row align-items-center mt-5">
              <div class="col-lg-7 col-md-7">
                <div class="title-heading mt-4">
                  <h1 class="display-4 fw-bold mb-3 text-black">
                    Modern Furniture, <br />
                    Armchair
                  </h1>
                  <p class="para-desc text-black">
                    Launch your campaign and benefit from our expertise on
                    designing and managing conversion centered bootstrap v5 html
                    page.
                  </p>
                  <div class="mt-4">
                    <a href="javascript:void(0)" class="btn btn-soft-primary"
                      >Shop Now</a
                    >
                  </div>
                </div>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end container-->
        </div>
      </div>
    </div>
  </div>
</section>
<!--end section-->
<!-- Hero End -->

<!-- Features Start -->
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-4 mt-4 pt-2">
      <div class="card shop-features border-0 rounded overflow-hidden">
        <img
          src="{% static 'assets/images/shop/fea1.jpg' %}"
          class="img-fluid"
          alt=""
        />
        <div class="category-title ms-md-4 ms-2">
          <h4>
            Summer <br />
            Collection
          </h4>
          <a href="javascript:void(0)" class="btn btn-sm btn-soft-primary mt-2"
            >Shop Now</a
          >
        </div>
      </div>
    </div>
    <!--end col-->

    <div class="col-md-4 mt-4 pt-2">
      <div class="card shop-features border-0 rounded overflow-hidden">
        <img
          src="{% static 'assets/images/shop/fea2.jpg' %}"
          class="img-fluid"
          alt=""
        />
        <div class="category-title ms-md-4 ms-2">
          <h4>
            Summer <br />
            Collection
          </h4>
          <a href="javascript:void(0)" class="btn btn-sm btn-soft-primary mt-2"
            >Shop Now</a
          >
        </div>
      </div>
    </div>
    <!--end col-->

    <div class="col-md-4 mt-4 pt-2">
      <div class="card shop-features border-0 rounded overflow-hidden">
        <img
          src="{% static 'assets/images/shop/fea3.jpg' %}"
          class="img-fluid"
          alt=""
        />
        <div class="category-title ms-md-4 ms-2">
          <h4>
            Summer <br />
            Collection
          </h4>
          <a href="javascript:void(0)" class="btn btn-sm btn-soft-primary mt-2"
            >Shop Now</a
          >
        </div>
      </div>
    </div>
    <!--end col-->
  </div>
  <!--end row-->
</div>
<!--end container-->
<!-- Features End -->

<!-- Start -->
<section class="section">
  <!-- Start Most Viewed Products -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5 class="mb-0">Most Viewed Products</h5>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
      {% for product in product_all %}
      <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
        <div class="card shop-list border-0 position-relative">
          {% if product.diskon == 0 %} {% else %}
          <ul class="label list-unstyled mb-0">
            <li>
              <a
                href="javascript:void(0)"
                class="badge badge-link rounded-pill bg-warning"
                >{{product.diskon}}%</a
              >
            </li>
          </ul>
          {% endif %}
          <div
            class="shop-image position-relative overflow-hidden rounded shadow"
          >
            <a href="shop-product-detail.html"
              ><img src="{{ product.image.url }}" class="img-fluid" alt=""
            /></a>
            <a href="shop-product-detail.html" class="overlay-work">
              <img src="{{ product.image.url }}" class="img-fluid" alt="" />
            </a>
            <ul class="list-unstyled shop-icons">
              <li class="mt-2">
                <a
                  href="shop-cart.html"
                  class="btn btn-icon btn-pills btn-soft-info"
                  ><i data-feather="shopping-cart" class="icons"></i
                ></a>
              </li>
            </ul>
          </div>
          <div class="card-body content pt-4 p-2">
            <a
              href="shop-product-detail.html"
              class="text-dark product-name h6"
            >
              {{product.name_product}}
            </a>
            {% if product.diskon == 0 %}
            <div class="d-flex justify-content-between mt-1">
              <h6 class="text-dark small fst-italic mb-0 mt-1">
                {{ product.price }}
              </h6>
            </div>
            {% else %}
            <div class="d-flex justify-content-between mt-1">
              <h6 class="text-dark small fst-italic mb-0 mt-1">
                {{ product.total_diskon_harga }}
                <del class="text-danger ms-2">{{product.price}}</del>
              </h6>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!--end row-->
  </div>
  <!--end container-->
  <!-- End Most Viewed Product -->

  <!-- Start Categories -->
  <div class="container mt-100 mt-60">
    <div class="row">
      <div class="col-12">
        <h5 class="mb-0">Top Categories</h5>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
    <div class="row">
      {% for categories in categories_all %}
      <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2">
        <div
          class="card features feature-primary explore-feature border-0 rounded text-center"
        >
          <div class="card-body">
            <img
              src="{{ categories.image.url }}"
              class="avatar avatar-small rounded-circle shadow-md"
              alt=""
            />
            <div class="content mt-3">
              <h6 class="mb-0">
                <a href="javascript:void(0)" class="title text-dark"
                  >{{categories.categories}}</a
                >
              </h6>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!--end row-->
  </div>
  <!--end container-->
  <!-- Start Categories -->
  <!-- End Popular -->
</section>

{% endblock content %}
